<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="new[] { typeof(BigBang1112.Razor.Temp).Assembly}">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <div class="section">
                        <span>Not authorized.</span>
                    </div>
                </NotAuthorized>
                <Authorizing>
                    <div class="section">
                        <span>Authorizing...</span>
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="section">
                    <span role="alert">Sorry, there's nothing at this address.</span>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>